<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} %class{15}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="jgntp.message" level="INFO"/>
    <!--<logger name="elasticsearch" level="INFO"/>-->
    <!--<logger name="org.elasticsearch" level="INFO"/>-->
    <!--<logger name="org.apache.http" level="WARN"/>-->
    <!--<logger name="sun.rmi" level="WARN"/>-->
    <!--<logger name="javax.management" level="WARN"/>-->
    <!--<logger name="javax.management" level="WARN"/>-->

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>